<%- include('partials/header') %>

<h2>All Activities</h2>

<table>
  <tr>
    <th>Activity</th>
    <th>Minutes</th>
    <th>Calories</th>
    <th>Date</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% rows.forEach(r => { %>
    <tr>
      <td><%= r.activity %></td>
      <td><%= r.minutes %></td>
      <td><%= r.calories %></td>
      <td><%= r.nice_date %></td>
    <td>
      <a href="/edit/<%= r.id %>" class="btn btn-edit">Edit</a>
    </td>

    <td>
      <form action="/delete/<%= r.id %>" method="POST" style="display:inline;">
        <button class="btn btn-delete" onclick="return confirm('Delete this activity?')">
          Delete
        </button>
      </form>
    </td>

    </tr>
  <% }) %>
</table>

<%- include('partials/footer') %>
